@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('./fonts/RobotoMono-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

a:link {
  color: #7a9668;
}/* visited link */

a:visited {
  color: #7a9668;
}

/* mouse over link */
a:hover {
  color: #7a9668;
}

/* selected link */
a:active {
  color: #7a9668;
}

.whole-page-wrapper {
  margin: 15%;
  background-color: #101824;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

body {
  background-color: #101824; 
  color: #f0f5f5;
  font-size: 15px;
  font-family: 'RobotoMono-Regular', helvetica;
}

h1 {
  font-size: 15px;
  font-weight: bold;
  font-family: 'RobotoMono-Regular', helvetica;
}

h2 {
  font-size: 15px;
  font-weight: regular;
  font-family: 'RobotoMono-Regular', helvetica;
}

#navbar {
  font-size: 15px;
  font-family: 'RobotoMono-Regular', helvetica;
  color: #7a9668;
  background-color: #101824; 
  display: flex;
  justify-content: center;
  width: 800px;
}

#navbar ul {
  list-style: none;
  display: inline-flex;
}

#navbar li {
  margin: 0 20% 0 20%;
  text-decoration: underline;
  white-space: nowrap;
}

#navbar-active-item {
  text-decoration: overline;
}

