@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('/fonts/RobotoMono-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/*@font-face {*/
  /*font-family: 'RobotoMono-Regular';*/
  /*src: url('./fonts/RobotoMono-Regular.ttf')  format('truetype'); [> Safari, Android, iOS <]*/
/*}*/

a:link {
  color: blue;
}/* visited link */

a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: #7a9668;
}

body {
  color: black;
  font-family: 'RobotoMono-Regular';
  font-size: 15px;
}

.page-wrapper {
  max-width: 800px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  justify-content: center;
  flex: 1;
  border-left: 1px solid black; 
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 7px 10px 7px;
}

.nav-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  justify-content: center;
  flex: 1;
  border: 1px solid black;
}

.posts-short-list {
  margin: 0;
  padding: 0;
}

.posts-short-list li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 15px;
  font-weight: normal;
  font-family: 'RobotoMono-Regular', helvetica;
  color: red;
  text-transform: uppercase;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  font-family: 'RobotoMono-Regular', helvetica;
}

#navbar {
  display: flex;
}

#navbar ul {
  list-style: none;
  padding-right: 20px;
  color: blue;
}

#navbar li {
  margin: 10px 10px 10px 10px;
  text-decoration: underline;
  white-space: nowrap;
  display: inline;
}

#navbar-active-item {
  text-decoration: overline;
}

